.quiz-wrapper {
  height: 480px;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #fff;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgb(133, 133, 133);
  background: linear-gradient(
    113deg,
    rgba(133, 133, 133, 0.5) 24%,
    rgba(164, 238, 249, 0.5) 75%
  );
}
.quiz-left {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #a4eef9;
  padding: 25px;
}
.email-sup-text {
  position: relative;
  z-index: 2;
  font-size: 16px;
}
.email-main-text {
  position: relative;
  z-index: 2;
  font-size: 48px;
  font-weight: lighter;
  line-height: 1.5;
}
.quiz-btn {
  position: relative;
  z-index: 2;
}
.quiz-right {
  height: 100%;
  width: 50%;
  background-image: url("../Assets/Email-Photo.jpg");
  background-size: cover;
  background-position: center;
}
