.header-wrapper {
  position: relative;
  z-index: 3;
  background-color: #fff;
}
.header {
  height: 250px;
  width: 100%;
}
.navbar {
  height: 75px;
  width: 100%;
  display: flex;
  padding: 0 5%;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
  list-style-type: none;
}
.nav-logo {
  height: 100%;
  margin-right: auto;
}

@media (max-width: 600px) {
  .nav-link-text {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .nav-link-text {
    font-size: 10px;
  }
}
@media (max-width: 300px) {
  .nav-link-text {
    font-size: 8px;
  }
}
