.quote::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-image: url("../Assets/Flower-Bunch.png");
  background-size: cover;
  background-position: center center;
  transform: translateZ(-1px) scale(2);
}
.quote {
  height: 80vh;
  width: 100%;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  letter-spacing: 2px;
  transform-style: preserve-3d;
  background: rgb(133, 133, 133);
  background: linear-gradient(
    113deg,
    rgba(133, 133, 133, 0.5) 25%,
    rgba(195, 172, 206, 0.5) 75%
  );
  color: #fff;
}
.quote-posts {
  height: 350px;
  width: 100vw;
  background-color: rgba(252, 240, 243, 0.6);
  color: #000;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
  cursor: pointer;
}
.quote-post {
  height: 300px;
  width: 300px;
  margin: 0 10px;
}
.quote-post-img {
  height: 200px;
  width: 100%;
  background-color: black;
}
.quote-post-title {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.quote-post-tags {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 1rem;
}
.main {
  height: 600px;
  width: 100%;
  display: flex;
}
.main-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  background-color: #c3acce;
}
.sup-text {
  align-self: flex-start;
  font-size: 24px;
}
.main-text {
  width: 100%;
  text-align: left;
  font-size: 36px;
  line-height: 1.5;
  font-weight: lighter;
}
.headline {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  line-height: 3;
}
.CTA {
  border-radius: 2rem;
  padding: 1.5rem;
  background-color: rgba(70, 68, 68, 0.7);
  color: #fff;
  text-align: center;
  transition: all 0.2s;
}
.CTA:hover {
  background-color: #fcf0f3c9;
  color: #000;
  cursor: pointer;
}

.main-right {
  height: 100%;
  width: 50%;
  background-image: url("../Assets/Hero-Img.jpg");
  background-size: cover;
  background-position-x: center;
}
#quote2 {
  height: 200px;
  background-color: black;
  /* background-color: #fcf0f3; */
}

/* .food {
  height: 150vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: -1;
  transform-style: preserve-3d;
}
.food::before {
  content: "";
  width: 100vw;
  height: 150vh;
  top: 0;
  left: 0;
  background-image: url("../Assets/foodbg.jpg");
  background-size: cover;
  position: absolute;
  z-index: -2;
  transform: translateZ(-1px) scale(2);
} */

@media (max-width: 950px) {
  .quote {
    height: auto;
    font-size: 12px;
    padding: 2rem;
  }
  .quote-posts {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .quote-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
  }
  .quote-post-img {
    height: 200px;
    width: 300px;
    background-color: black;
  }
  .main {
    height: auto;
    flex-direction: column;
  }
  .main-left {
    width: auto;
  }
  .main-right {
    height: 400px;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .sup-text {
    align-self: flex-start;
    font-size: 16px;
  }
  .main-text {
    font-size: 24px;
    line-height: 1;
    margin: 2rem;
  }
  .headline {
    font-size: 36px;
    line-height: 1.5;
    margin: 2rem;
  }
}
@media (max-width: 400px) {
  .headline {
    font-size: 24px;
  }
}
