.posting-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.background {
  height: 100vh;
  width: 100%;
  position: relative;
}
.flower1 {
  height: 100vh;
  width: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../Assets/L-Flower.png");
  background-size: cover;
}
.flower2 {
  height: 50vh;
  width: 50vh;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  background-image: url("../Assets/Branch-Flower-Purple.png");
  background-size: cover;
}

.section-header {
  position: absolute;
  z-index: 2;
  top: 5%;
}

.posts {
  position: absolute;
  top: 30%;
  display: flex;
  overflow-x: scroll;
}
