.posting-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
}
.background {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.flower1 {
  height: 100vh;
  width: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../Assets/L-Flower.png");
  background-size: cover;
}
.flower2 {
  height: 50vh;
  width: 50vh;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  background-image: url("../Assets/Branch-Flower-Purple.png");
  background-size: cover;
}

.section-header {
  position: absolute;
  z-index: 4;
  top: 5%;
}

.posts {
  height: 350px;
  width: 100vw;
  color: #000;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
  cursor: pointer;
  margin-top: 2rem;
  position: relative;
  z-index: 2;
}
.blog-post-img {
  width: 100%;
  height: 100%;
}

@media (max-width: 950px) {
  .posting-wrapper {
    height: 100%;
  }
  .posts {
    height: auto;
    overflow: hidden;
    width: 100%;
  }
  .quote-posts {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .quote-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
  }
  .quote-post-img {
    height: 200px;
    width: 300px;
    background-color: black;
  }
}
